.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 25vw;
    height: 100vh;
}

h3 {
    font-size: 28px;
}

.gameOptions {
    padding: 20px 30px;
}

.gameOptionsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scoreboardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    padding: 30px 25vw;
    margin: 25px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: -30px;
}

.playerScore, .computerScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameLogWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px black solid;
    padding: 30px 50px;
    margin: 25px;
}

.gameLog {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: -30px;
}

.verticalLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scoringMainWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restartButton {
    padding: 10px;
}