* {
    font-family: 'Sora', sans-serif;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
}

.mainTitle {
    text-align: center;
}

h3 {
    font-size: 28px;
}

.gameOptions {
    padding: 20px 30px;
}

.gameOptionsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scoringMainWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.scoreboardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    border-radius: 30px;
    padding: 30px 200px;
    margin: 25px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: -30px;
}

.playerScore, .computerScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameLogWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px white solid;
    border-radius: 30px;
    padding: 30px 200px;
    margin: 25px;
}

.gameLog {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: -30px;
}

.verticalLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.restartButton {
    padding: 10px;
}